table.tabla
    tr
        th(id="id") ID
        th(id="nombreTabla") Nombre 
        th(id="precioTabla") Precio
        th(id="thumbnailTabla") Thumbnail 
    each producto in Productos
        tr
            td=producto.ID 
            td=producto.nombre 
            td=producto.precio 
            td=producto.thumbnail